body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

body.bg-clear {
  background: url("/public/img/clear.webp") no-repeat center center;
  background-size: cover;
}

body.bg-cloudy {
  background: url("/public/img/cloudy.webp") no-repeat center center;
  background-size: cover;
}

body.bg-rainy {
  background: url("/public/img/rainy.webp") no-repeat center center;
  background-size: cover;
}

body.bg-fog {
  background: url("/public/img/fog.webp") no-repeat center center;
  background-size: cover;
}

body.bg-default {
  background: url("/public/img/clear.webp") no-repeat center center;
  background-size: cover;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
