body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

body.bg-clear {
  background: url("/img/clear-2.webp") no-repeat center center;
  background-size: cover;
}

body.bg-cloudy {
  background: url("/img/cloudy-2.webp") no-repeat center center;
  background-size: cover;
}

body.bg-rainy {
  background: url("/img/rainy-2.webp") no-repeat center center;
  background-size: cover;
}

body.bg-fog {
  background: url("/img/fog-2.webp") no-repeat center center;
  background-size: cover;
}

body.bg-default {
  background: linear-gradient(to bottom, #aee1f9, #f2f9ff);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
